
# Monitor wifi signal strength and quality
[[inputs.wireless]]
  ## Sets 'proc' directory path
  ## If not specified, then default is /proc
  host_proc = "{{ wireless.host_proc }}"

#####################################################################################

  [[inputs.ping]]
  urls = ["{{ ping.urls }}"]
  method = "{{ ping.method }}"
  count = "{{ ping.count }}"
  ping_interval = "{{ ping.ping_interval }}"
  timeout = "{{ ping.timeout }}"
  deadline = "{{ ping.deadline }}"
  binary = "{{ ping.executable }}"
  size = "{{ ping.size }}"

#####################################################################################

  [[inputs.intel_powerstat]]
  cpu_metrics = "{{ intel_powerstat.cpu_metrics }}"

#####################################################################################

[[outputs.file]]
  ## Files to write to, "stdout" is a specially handled file.
  files = "{{ file.files }}"